body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/image/bg.jpg');
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position:relative;
  top: -30px;

  background-size: cover;
}

.head {
  margin-bottom: 30px;
  color: #00ffaabe;
  position: relative;
  top: -150px;
}

.page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: fit-content;
  max-width: 1200px;
  padding: 20px 30px;
  margin-top: -150px;
  border: 1px solid rgba(255, 255, 255, 0.3);  opacity: 0;
  border-radius: 25px;
  transform: translateY(30px);
  animation: fadeSlideIn 0.8s ease forwards;
}


@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-section {
  max-width: 400px;
  width: 100%;
}

.form-container {
  padding: 35px 30px;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.input {
  margin-bottom: 25px;
}

.input label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
  font-size: 14px;
}

.input input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #2e2e2e;
  color: #fff;
  font-size: 16px;
}

.button-box {
  text-align: center;
}

.button-box button {
  background: linear-gradient(45deg, #00ffaa, #007766);
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button-box button:hover {
  transform: scale(1.05);
}

.results-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.coords {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ccc;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.4s forwards;
  animation-delay: 0.2s;
}

.side-by-side-info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.info-box {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  min-width: 160px;
  text-align: center;
  animation: slideIn 0.5s forwards;
}

.result-value {
  font-size: 2.1rem;
  font-weight: 500;
  opacity: 0;
  color: white;
  transform: translateY(20px);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
